*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Heebo, sans-serif;
}
nav{
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px auto 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fefefe; 
    align-items: center;
}
.img-logo{
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/2;
    margin-left: 20px;
}
ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column: 2/4;
    justify-self: center;
}
li{
    align-self: flex-end;
    text-align: center;
    text-transform: uppercase;
    margin: 5px;
}
a{
    font-size: 16px;
    color: #222;
    text-decoration: none;
    font-weight: 700;
}
nav>ul>li>a:hover{
    text-decoration: underline; 
    font-weight: 600;
    color: #494949; 
}
#checkbox{
    display: none;
}
.menu-icon{
    display: none;
}
@media(max-width: 768px){
    nav{
        position: relative;
        z-index: 99;
    }
    .navbar{
        z-index: 1;
    }
    
    .menu-icon{
        display: block; 
        position: fixed;
   
        right: 15px;
        width: 60px;
        height: 50px;
        font-size: 40px;
    }
    .menu-icon > i{
        color: rgb(90, 87, 70);
    }
    ul{
        position: fixed;
        display: none;
        background: #fefefe;
        top: 100px;
        right: 0px;
        width: 100vw;
        height: 45vh; 
        border-radius: 25px;
    }
    ul>li{
        margin: 30px 60px;
        text-align: right;      
    }
    #checkbox:checked ~ ul{
        display: block;
    }
}