<section class="">
    <div class="text-center">
        <h2 class="tc-h2">
            Testimonios
        </h2>
        <p class="tc-p">
            Con cientos de clientes satisfechos de diferentes edades, niveles y profesiones y necesidades diversas para aprender otro idioma. Si quieres saber mas, te invitamos a
            <a href="testimonios.html" class="rm-white">Leer mas ...</a>
        </p>
    </div>
</section>