<section class="text-left">
    <div class="left-panel">
        <h1>
            El primer paso es empezar!
        </h1>
        <p>
            Just Like A Native ofrece clases virtuales de Inglés para principiantes, intermedios y los que buscan un nivel C1 con profesores nativos.
        </p>
        <p>
            El objetivo es para que te desenvuelvas en el mundo actual con mucha practica y conocimiento.
        </p>
        
        <button class="text-left-cta">
            Prueba de ubicacion gratis
        </button>
    </div>
    <div class="right-img">
        <img src="./img/skype.jpeg" alt="">
    </div>
</section>