<section class="text-left">
    <div class="left-panel">
        <h2 class="lp-h2">
            Metodología
        </h2>
        <p>
            Nuestra metodología se basa en el enfoque comunicativo, el cual orienta el desarrollo de las cuatro macro destrezas del idioma, enfocándose principalmente en las competencias comunicativas,con el fin de aplicar el idioma en un contexto real y natural.<br>
            <a href="" class="rm-dark">Leer mas ...</a>
        </p>
        <p>
            Nuestra metodología se basa en el enfoque comunicativo, el cual orienta el desarrollo de las cuatro macro destrezas del idioma, enfocándose principalmente en las competencias comunicativas,con el fin de aplicar el idioma en un contexto real y natural.<br>
            <a href="" class="rm-dark">Leer mas ...</a>
        </p>
    </div>
    <div class="right-img">
        <img src="img/concentrated.jpg" alt="">
    </div>
</section>