
<body>
<nav id="">
    <div class="img-logo">
        <a href="/"><img src="img/logo.jpg" alt=""></a>
    </div>
    <input type="checkbox" name="checkbox" id="checkbox" >
    <label for="checkbox" class="menu-icon">
        <i class="fa fa-bars"></i>
    </label>
    
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/aboutus">About us</a></li>
        <li><a href="/">planes</a></li>
        <li><a href="/">Refiere amigos</a></li>
        <li><a href="/app">app</a></li>
    </ul>
</nav>
<i id="backToMenu" class="fa fa-angle-up"></i>
 