<section class="text-right">
    <div class="right-img">
        <img src="img/enthusiastic.jpg" alt="">
    </div>
    <div class="left-panel">
        <h2 class="lp-h2">
            Diviertete
        </h2>
        <p>
           Puedes divertirte mientras estas aprendendiendo con nosotros. Con nuestros diversos temas que podemos hablar, lo hacemos de una manera divertida no de la manera habitual de ensenanza del ingles. Respetamos las opiniones de todos pero cualquier tema es recibido como parte de la practica. <br>
            <a href="" class="rm-white">Leer mas ...</a>
        </p>
        <p>
            Puedes divertirte mientras estas aprendendiendo con nosotros. Con nuestros diversos temas que podemos hablar, lo hacemos de una manera divertida no de la manera habitual de ensenanza del ingles. Respetamos las opiniones de todos pero cualquier tema es recibido como parte de la practica. <br>
             <a href="" class="rm-white">Leer mas ...</a>
         </p>
    </div>
</section>