*{
    font-family: sans-serif,Heebo;
}
.buttons{
    margin-left: auto;
}
.btn{
    border: 1px solid green;  
}
.btn-warning{
    width: 70px;
}
nav{
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0px auto 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fefefe; 
    align-items: center;
}
.bg-light{
    background-color: #131212;
}
nav:hover{
    background-color: #675f5f;
    font-weight: 900;
    color: #494949; 
}

.nav-bar{
    background-color: #494949; 
}
#nav-items{
    color: white;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #494949;
    text-align: center;
}
h3{
    font-size: 20px;
}
/* FOOTER */
footer{
    width: 100%;
    height: 200px;
    background-color:#494949;
    color: #ffffff;
}
#social{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 30px;
    align-items: center;
    justify-items: center;
}
#social>i{
    font-size: 40px;
    margin-bottom: 20px;
}
@media(max-width: 768px){
    .nav-bar{
        padding-bottom: 15px;
    }
    #nav-items{
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
        text-align: center;
        border: 1px solid red;
        justify-items: center;
    }
}

